form {
    border: solid 3px orange;
    background-color: lightgray;
}

#submit {
    
    border: solid 3px rgb(52, 164, 201);
    padding: 10px;
    border-radius: 5px;
    margin-top: 1em;
}

h1 {
    margin-bottom: 1em;
}
